body {
	background-image: url('/foundation-vanilla/img/HDS-trans.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center center;
}

li.divider {display:none;}
.clear {clear:both}

.button {
    background-color: #bf3211;
    color: #f0efd1;
    width: 200px;
}

ul li { margin-bottom:-1.25rem;}

.pane {	height: 85vh; }

.page.page1 {
	background-color: #fff;
}


.page.page2 {background-color: #3498db;}
.page.page2 .pane {

}


.page.page3 {background-color: rgba(241, 196, 15, 0.7);}
.page.page3 .pane {

}


.page.page4 {background-color: #e74c3c;}
.page.page4 .pane {

}

.page.page5 {background-color: #ecf0f1;}
.page.page5{
	height: 60vh; 
}

.page.page6 {background-color: #2c3e50;}
.page.page6{
	height: 10vh; 
}

.top-bar {
    height: 150px;
	position: relative;
	display: block;
	clear:both;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #333333;
}